[submodule "libs/bcrypt"]
	path = libs/bcrypt
	url = https://github.com/hilch/Bcrypt.cpp/
[submodule "libs/apiserver"]
	path = libs/apiserver
	url = https://github.com/Nathcat/CPP-API-Server
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json
[submodule "libs/cryptorand"]
	path = libs/cryptorand
	url = https://github.com/Nathcat/cryptorand-cmake
[submodule "libs/boost-mlp"]
	path = libs/boost-mlp
	url = https://github.com/boostorg/multiprecision/
